


body{
    background-image: url('../images/funky-lines.jpg');
    background-color: #f1f1f1;
    color: #777777;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}


/* Navigation */
nav {
    background: linear-gradient(135deg, #e0e0e0, #f0f0f0 45%, white);
    border-bottom: 1px solid #dddddd;
    /* height: 25px; */
}

li a {
    font-size: large;
    color: #777777;
    text-decoration: none;
}

ul hr {
    margin: 0;
    /* margin-top: 5px; */
    border: 1px solid;
    opacity: 0.15;
}


/* Only the active links will have this feature */
li a:hover:not(.active) { 
    background-color: #f0f0f0;
    color: #777777;
    padding-bottom: 25px; /* Make sure the highlight reaches the bottom of the nav bar */
    /* text-decoration: underline; */
}


li a:hover > hr {
    margin: 0;
    padding: 0;
    border: 0;
    width: 110%;
    color: #4aaaa5;
    margin-top: -10px;
    opacity: 0.5;
    border-top: 10px solid #4aaaa5;
}



.active {
    background-color: #4aaaa5;
    color: white;
    font-size: 40px;
    padding: 0 20px 0 20px;
    text-decoration: none;
}


/* This will overwrite the inherit property of "a" without an HREF */
a:not([href]) {
    color: white;
}



/********************************************************************************************/
/* Body */
/********************************************************************************************/
main {
    margin: 25px 15px 25px 15px;
    background-color: white;
    border: 1px solid #dddddd;
    height: 625px;
    overflow: auto;
    overflow-y: none;
}

h2 {
    margin: 25px 25px 0 25px;
    color: #4aaaa5;
    font-weight: bold;
}

/* .contactcard {
    margin:0;
    margin-top: -25px;
} */

form {
    margin-top: 10px;
    margin-left: 25px;
    margin-right: -100px;
    width: 120%;
}

form input {
    width: 105%;
    margin: 0 0 10px 0;
}


input::placeholder {
    color: #dddddd
}


textarea::placeholder {
    color: #dddddd;
}


form textarea {
    width: 105%;
    height: 200px;
    max-height: 350px;
    min-height: 50px;
    margin-bottom: 10px;
    border-color: #d1d1d1;
}


input#submit {
    background-color: #4aaaa5;
    color: white;
    border-color: #dddddd;
    font-size: large;
    width: 10%;
}


/********************************************************************************************/
/* Footer */
/********************************************************************************************/
footer {
    text-align: center;
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    padding-top: 15px;
}

footer p {
    text-align: center;
    color: white;
}
