

body{
    background-image: url('../images/funky-lines.jpg');
    /* background-image: linear-gradient(to right, #e0e0e0, #f0f0f0); */
    color: #777777;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

/********************************************************************************************/
/* NavBar */
/********************************************************************************************/
#nav-row {
    margin-bottom: 50px !important;
    background: linear-gradient(135deg, #e0e0e0, #f0f0f0 45%, white);
    border-bottom: 1px solid #dddddd;
}

/* Need to overwrite this in order for the linear gradient above works */
.bg-light {
    background-color: transparent !important; /* we must write important in order to overwrite the bootstrap class */
}


#my-name{
    background-color: #4aaaa5;
    color:white;
    padding: 15px 20px 15px 20px;
    margin: -10px 0 -10px -30px;
    font-size: 35px;
}

ul > li {
    font-size: 20px;
    margin: -20px 10px -30px 10px;
    padding: 30px 10px 30px 10px;
}



li a:hover {
    background-color: #f3f3f3;
    color: #777777;
    padding-bottom: 10px;
    /* margin: -20px 0 -20px 0; */
}

a hr {
    margin:0;
    padding: 0;
    border: 0;
    border-top: 2px solid #777777;
    margin-top: 4px;
    opacity: 0.15;
}

li a:hover > hr {
    margin: 0;
    border: 0;
    width: 110%;
    color: #4aaaa5;
    margin-top: -15px;
    opacity: 0.5;
    border-top: 10px solid #4aaaa5;
}


.active {
    color: #3c8b88 !important;

}

.nav-link {
    color: inherit !important;
}

/********************************************************************************************/
/* Body */
/********************************************************************************************/
#main-content{
    margin-bottom: 50px;
}

#me-content {
    background-color: white;
    border: 1px solid #dddddd;
    padding: 15px;
    max-height: 625px;
    overflow: auto;
}

#me-content > h2 {
    color: #4AAAA5;
    margin: 10px 0 0 20px;
}

#me-content > hr {
    border-top: 2.5px solid #dddddd;
    margin: 25px 10px 25px 10px;
}

div > p {
    line-height: 2.5;
}

p > img {
    float: left;
    margin: 10px;
}

input {
    width: 100%;
    border: 0.5px solid #dddddd;
    padding: 2px;
    height: 30px;
    margin: 10px 0px 10px 0px;
    /* box-sizing: border-box; */
}

::placeholder {
    font-size: small;
    color: #dddddd;
}

#message {
     /* float: center; */
     /* The settings below are the initial configuration of the box */
     width: 100%;
     height: 150px;

     /* Min Width will prevent the submit button to move up */
     min-width: 875px;
 
     /* Max Width will prevent message box to move out of the Main box*/
     max-width: 100%;
     min-height: 50px;
     max-height: 250px;
     
     
     /* Scroll bar will be provided if the message is long */
     overflow: auto;
     border-color: #cccccc;
     
     margin: 10px 0px 10px 0px;
}

#submit {
    bottom: -5px;
    width: 100px;
    font-size: medium;
    background-color: #4aaaa5;
    color: white;
    border: none;
    margin: 20px 0px 10px 0px;
}

/********************************************************************************************/
/* Footer */
/********************************************************************************************/
footer {
    text-align: center;
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    padding-top: 15px;
}

footer p {
    text-align: center;
    color: white;
}



/********************************************************************************************/
/* Media Query */
/********************************************************************************************/
@media (min-width:414px) and (max-width:768px){
    p > img {
        width: 35%;
    }

    #me-content > p {
        font-size: medium;
    }
}

@media (min-width:376px) and (max-width:414px){
    p > img {
        width: 50%;
    }

    #me-content > p {
        font-size: small;
    }
}

@media (min-width:200px) and (max-width:375px){
    p > img {
        width: 50%;
    }

    #me-content > p {
        font-size: small;
    }
}


